.banner {
  background: url("../images/b3.jpg");
  background-size: cover;
  padding: 1%;
}
.left-side-form {
  background: #f8a640;
}
.custom-nav-color {
  background: #f8a640 !important;
}
.right-side-padd {
  padding: 0 !important;
}
.right-side-padd .left-side-form {
  padding: 28px 20px;
}
.right-side-padd .right-side-form {
  padding: 20px;
  background: #fff;
}

.right-side-form button {
  background: #f8a640;
}
